<!DOCTYPE html>

<html lang="en">
<head>
  <title>Sistema de Monitoramento de Energia Elétrica</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <style>
          /* Referencia ->> https://www.w3schools.com/bootstrap/bootstrap_templates.asp */
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 790px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row content">
    <div class="col-lg-3 sidenav hidden-xs" href="#">
        <img src="http://www.unicamp.br/unicamp/sites/default/files/logotipo/PRE_VERM.JPG" width="80" height="80"
             class="d-inline-block align-top">
      <h2>Sistema de Monitoramento de Energia Elétrica</h2>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="http://delso.pythonanywhere.com/Medidor1">Medidor 1</a></li>
        <li><a href="http://delso.pythonanywhere.com/Medidor2">Medidor 2</a></li>
        <li><a href="http://delso.pythonanywhere.com/Medidor3">Medidor 3</a></li>
        <li><a href="http://delso.pythonanywhere.com/Medidor5">Medidor 4</a></li>
        <li><a href="http://delso.pythonanywhere.com/Medidor4">Medidor Geral</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-4">
          <div class="well">
              <a href ="http://delso.pythonanywhere.com{{request.path}}/Historico1">
              <div class ="text-center">
                <h8>Tensão</h8>
                <h4>{{ Voltage }} V</h4>
              </div>
              </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="well">
              <a href ="http://delso.pythonanywhere.com{{request.path}}/Historico2">
              <div class ="text-center">
                <h8>Corrente</h8>
                <h4>{{ Current }} A</h4>
              </div>
              </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="well">
              <a href ="http://delso.pythonanywhere.com{{request.path}}/Historico4">
              <div class ="text-center">
                <h8>Energia Ativa</h8>
                <h4>{{ ActiveEnergy }}Wh</h4>
              </div>
              </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="well">
              <a href ="http://delso.pythonanywhere.com{{request.path}}/Historico3">
              <div class ="text-center">
                <h8>FP</h8>
                <h4>{{ Factor }}</h4>
              </div>
              </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="well">
              <a href ="http://delso.pythonanywhere.com{{request.path}}/Historico5">
              <div class ="text-center">
                <h8>Energia Reativa</h8>
                <h4>{{ ReativeEnergy }} VArh</h4>
              </div>
              </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="well">
              <div class ="text-center">
                <h8>Ultima Atualização</h8>
                <h4>{{ Time }}</h4>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>

</body>
</html>
